/*
* Base structure
*/

html, body {
	height: 100%;
}



/*
* Navigation bar
*/

nav {
	position: fixed;
	float: left;
	width: 390px;
	height: 100%;
	background-color: white;
	box-shadow: inset -5px 2px 5px -5px rgba(0,0,0,0.8);
	
	img {
		display: block;
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 60px;
	}
}

#szukajka {
	display: block;
	margin-top: 40px;
	margin-left: 50px;
}

#tagi {
	
	width: 278px;
	margin: 0 auto;
	margin-top: 40px;
	margin-left: 50px;
}

#oBlogu {
	padding: 35px;
}

#ikonki {
	position: relative;
	width: 30%;
	top: 220px;
}

#linki h3 {
	padding-bottom: 40px;
}


/*
* Meals
*/

#meals {
	position: relative;
	width: 71%;
	left: 390px;
}

#meals .col-4 {
/*	background-image: url(../images/1.jpeg);*/
	background-size: 150% auto;
	background-repeat: no-repeat;
	
	border-left: none;
	border-top: none;
	height: 300px;
	width: 350px;
	box-shadow: inset 0 0 5px #000000;
}

#podpis {
	width: 318px;
	margin: 0 auto;
	display: block;
	height: 25%;
	background-color: rgba(0,0,0,0.8);
	position: relative;
	left: -15px;
	top: 225px;
	overflow: hidden;
	
	p {
		color: white;
		font-family: 'Quicksand', sans-serif;
		font-size: 18px;
		padding: 20px;
		line-height: 40px;
	}
}

.nie {
	display: flex;
}